extends layouts/main

block body
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(href='/restaurants') 首頁
    li.nav-item
      a.nav-link.active(href='/restaurants/feeds') 最新動態
  br
  br
  h1 最新動態
  hr
  .row
    .col-md-6
      .card
        .card-header 最新餐廳
        .card-body
          each restaurant in restaurants
            div
              h4
                a(href=`/restaurants/${restaurant.id}`) #{restaurant.name}
                small #{restaurant.Category.name}
              p #{restaurant.description}
              | #{getCreateTimeFromNow(restaurant.createdAt)}
              hr
    .col-md-6
      .card
        .card-header 最新評論
        .card-body
          each comment in comments
            div
              h4
                a(href=`/restaurants/${comment.Restaurant.id}`) #{comment.Restaurant.name}
              p #{comment.text} by 
              a(href=`/users/${comment.User.id}`) #{comment.User.name} 
              |  leaved #{getCreateTimeFromNow(comment.createdAt)}
              hr
