extends layouts/main

block body
  ul.nav.nav-pills.mb-3
    li.nav-item
    if !categoryId
      a.nav-link.active(href='?categoryId=') 全部
      each category in categories
        li.nav-item
        a.nav-link(href=`?categoryId=${category.id}`) #{category.name}
    else
      a.nav-link(href='?categoryId=') 全部
      each category in categories
        if category.id === categoryId
          li.nav-item
          a.nav-link.active(href=`?categoryId=${category.id}`) #{category.name}
        else
          li.nav-item
          a.nav-link(href=`?categoryId=${category.id}`) #{category.name}
  .row
    each restaurant in restaurants
      .col-md-4
        .card.mb-4.shadow-sm
          img.card-img-top(src=`${restaurant.image}`, alt='Card image cap', width='286px', height='180px')
          .card-body
            p.card-text
              a(href=`/restaurants/${restaurant.id}`) #{restaurant.name}
            span.badge.badge-secondary #{restaurant.Category.name}
            p.card-text #{restaurant.description}
  br
  br

