extends layouts/main

block body
  .row
    .col-md-12
      h1 #{restaurant.name}
      h4 [#{restaurant.Category.name}]
    .col-md-4
      img.img-responsive.center-block(src=`${restaurant.image}`, style='width: 250px;margin-bottom: 25px;')
      .well
        ul.list-unstyled
          li
            strong Opening Hour: #{restaurant.opening_hours}
          li
            strong Tel: #{restaurant.tel}
          li
            strong Address: #{restaurant.address}
    .col-md-8
      p #{restaurant.description}
    hr
  br
  br

  h3 所有評論：
  each comment in restaurant.Comments
    blockquote.blockquote.mb-0
      h4
        a(href=`/users/${comment.User.id}`) #{comment.User.name}
      p #{comment.text}
      footer.blockquote-footer #{createTime}
  hr

  form(action='/comments', method='POST')
    .form-group
      label(for='text') 留下評論：
      textarea#text.form-control(name='text', rows='3')
    //- input為hidden，可以把restaurantId送到後端，並透過req.body.restaurantId取出
    input(type='hidden', name='restaurantId', value=`${restaurant.id}`)
    button.btn.btn-primary(type='submit') Submit
    br
    br
  a(href='javascript:history.back()') 回上一頁
  
