extends layouts/main

block body
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active(href='/restaurants') 首頁
    li.nav-item
      a.nav-link(href='/restaurants/feeds') 最新動態
    li.nav-item
      a.nav-link(href='/restaurants/top') TOP10 人氣餐廳
    li.nav-item
      a.nav-link(href='/users/top') 美食達人
  br
  br
  ul.nav.nav-pills.mb-3
    li.nav-item
    if !categoryId
      a.nav-link.active(href='?categoryId=') 全部
      each category in categories
        li.nav-item
        a.nav-link(href=`?categoryId=${category.id}`) #{category.name}
    else
      a.nav-link(href='?categoryId=') 全部
      each category in categories
        if category.id === categoryId
          li.nav-item
          a.nav-link.active(href=`?categoryId=${category.id}`) #{category.name}
        else
          li.nav-item
          a.nav-link(href=`?categoryId=${category.id}`) #{category.name}
  .row
    each restaurant in restaurants
      .col-md-4
        .card.mb-4.shadow-sm
          img.card-img-top(src=`${restaurant.image}`, alt='Card image cap', width='286px', height='180px')
          .card-body
            p.card-text
              a(href=`/restaurants/${restaurant.id}`) #{restaurant.name}
            span.badge.badge-secondary #{restaurant.Category.name}
            p.card-text #{restaurant.description}
            .row.d-md-flex.flex-row
              if restaurant.isFavorited
                form(action=`/favorite/${restaurant.id}?_method=DELETE`, method='POST')
                  button.btn.btn-danger.ml-3(type='submit') 移除最愛
              else
                form(action=`/favorite/${restaurant.id}`, method='POST')
                  button.btn.btn-primary.ml-3(type='submit') 加到最愛
              if restaurant.isLiked
                form(action=`/like/${restaurant.id}?_method=DELETE`, method='POST')
                  button.btn.btn-danger.ml-3(type='submit') Unlike
              else
                form(action=`/like/${restaurant.id}`, method='POST')
                  button.btn.btn-primary.ml-3(type='submit') Like

  br
  br

  nav(aria-label='Page navigation example')
    ul.pagination
      li.page-item
        a.page-link(href=`/restaurants?page=${prev}&categoryId=${categoryId}`, aria-label='Previous')
          span(aria-hidden='true') «
      each item in totalPage
        if item === page
          li.page-item.active
            a.page-link(href='#') #{item}
        else
          li.page-item
            a.page-link(href=`/restaurants?page=${item}&categoryId=${categoryId}`) #{item}

      a.page-link(href=`/restaurants?page=${next}&categoryId=${categoryId}`, aria-label='Next')
        span(aria-hidden='true') »