extends layouts/main

block body
  .row
    .col-md-12
      h1 #{restaurant.name}
      h4 [#{restaurant.Category.name}]
    .col-md-4
      img.img-responsive.center-block(src=`${restaurant.image}`, style='width: 250px;margin-bottom: 25px;')
      .well
        ul.list-unstyled
          li
            strong Opening Hour: #{restaurant.opening_hours}
          li
            strong Tel: #{restaurant.tel}
          li
            strong Address: #{restaurant.address}
    .col-md-8
      p #{restaurant.description}
      br
      a(href=`/restaurant/${restaurant.id}/dashboard`)
        button.btn.btn-md.btn-primary(type='button') Dashboard
      if isFavorited
        form(action=`/favorite/${restaurant.id}?_method=DELETE`, method='POST',style="display: contents")
          button.btn.btn-danger.ml-3(type='submit') 移除最愛
      else
        form(action=`/favorite/${restaurant.id}`, method='POST',style="display: contents")
          button.btn.btn-primary.ml-3(type='submit') 加到最愛
    hr
  br
  br

  h3 所有評論：
  each comment in restaurant.Comments
    if user.isAdmin
      form(action=`/comments/${comment.id}?_method=DELETE`, method='POST', style='float: right;')
        button.btn.btn-danger(type='submit') Delete

    blockquote.blockquote.mb-0
      h4
        a(href=`/users/${comment.User.id}`) #{comment.User.name}
      p #{comment.text}
      footer.blockquote-footer #{getCreateTimeFromNow(comment.createdAt)}
  hr

  form(action='/comments', method='POST')
    .form-group
      label(for='text') 留下評論：
      textarea#text.form-control(name='text', rows='3')
    //- input為hidden，可以把restaurantId送到後端，並透過req.body.restaurantId取出
    input(type='hidden', name='restaurantId', value=`${restaurant.id}`)
    button.btn.btn-primary(type='submit') Submit
    br
    br
  a(href='javascript:history.back()') 回上一頁
  

