extends layouts/main
block body
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(href='/restaurants') 首頁
    li.nav-item
      a.nav-link(href='/restaurants/feeds') 最新動態
    li.nav-item
      a.nav-link(href='/restaurants/top') TOP10 人氣餐廳
    li.nav-item
      a.nav-link.active(href='/users/top') 美食達人
  br
  br
  h1 美食達人
  hr
  .row(style='text-align: center;')
    each user in users
      .col-3
        a(href=`/users/${user.id}`)
          img(src=`${user.image}`, width='140px', height='140px')
        h2 #{user.name}
        span.badge.badge-secondary 追蹤人數：#{user.FollowerCount}
        p
        if user.isFollowed
          form(action=`/following/${user.id}?_method=DELETE`, method='POST', style='display: contents;')
            button.btn.btn-danger(type='submit') 取消追蹤
        else
          form(action=`/following/${user.id}`, method='POST', style='display: contents;')
            button.btn.btn-primary(type='submit') 追蹤
          p