extends layouts/main

block body
  br
  br
  .row.bg-white.rounded.shadow-sm
    .col-md-4.my-3
      img.img-responsive.center-block(src=`${profile.image}`, style='width: 100%;')

    .col-md-8.my-3
      h3 #{profile.name}
      h5.my-4 #{profile.email}
      h3 已評論 #{restaurants.length} 間餐廳
      br
      br
      a(href=`/users/${profile.id}/edit`)
        button.btn.btn-primary(type='button') edit
  br
  br
  .card.border
    h5.card-header 已評論 #{restaurants.length} 間餐廳
    .d-flex.flex.row.justify-content-star.mx-3
      each restaurant in restaurants
        a(href=`/restaurants/${restaurant.id}`)
          img.m-3(src=`${restaurant.image}`, style='height: 100px; width: 100px;')


    
    
    